@model MVC_Practica01NETCore.Models.Persona

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar...</h1>

<h4>Persona</h4>
<hr />
<div>
    <a asp-action="Index">Regresar</a>
</div>

<div class="container-fluid col-4 editForm">
    <div class="row py-2">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group p-2">
                <label asp-for="Nombre" class="control-label">Editar Nombre:</label>
                <input asp-for="Nombre" class="form-control"  />
                <span asp-validation-for="Nombre" class="text-danger"></span>
                <span class="text-danger" id="NombreError"></span>
            </div>
            <div class="form-group p-2">
                <label asp-for="Apellido" class="control-label">Editar Apellido:</label>
                <input asp-for="Apellido" class="form-control"  />
                <span asp-validation-for="Apellido" class="text-danger"></span>
                <span class="text-danger" id="ApellidoError"></span>
            </div>
            <div class="form-group p-2">
                <label asp-for="TipoDocumento" class="control-label"></label>
                <select id="TipoDocumento" class="form-control" name="TipoDocumento">
                    <option value="DNI">DNI</option>
                    <option value="CarnetExtranjero">CarnetExtranjero</option>
                    <option value="Pasaporte">Pasaporte</option>
                </select>
                <span asp-validation-for="TipoDocumento" class="text-danger"></span>
            </div>

            <div class="form-group DNI p-2">
                <label asp-for="Dni" class="control-label">Editar N° DNI</label>
                <input asp-for="Dni" class="form-control" minlength="8" maxlength="8" />
                <span asp-validation-for="Dni" class="text-danger"></span>
                <span class="text-danger" id="DniError"></span>
            </div>

            <div class="form-group CarnetExtranjero p-2">
                <label asp-for="CarnetExtranjero" class="control-label">Editar N° Carnet de Extranjeria</label>
                <input asp-for="CarnetExtranjero" class="form-control" minlength="12" maxlength="12"  />
                <span asp-validation-for="CarnetExtranjero" class="text-danger"></span>
                <span class="text-danger" id="CarnetExtranjeroError"></span>
            </div>

            <div class="form-group Pasaporte p-2">
                <label asp-for="Pasaporte" class="control-label">Editar N° Pasaporte</label>
                <input asp-for="Pasaporte" class="form-control" minlength="12" maxlength="12" />
                <span asp-validation-for="Pasaporte" class="text-danger"></span>
                <span class="text-danger" id="PasaporteError"></span>
            </div>
            <div class="form-group p-2">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" type="date" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                <input type="submit" value="Editar" class="btn btn-warning"/>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="~/js/Editar.js"></script>

}
